footer {
    position: relative;
    height: 40px;
    background: $color-base;
    text-align: center;
    padding-top: 10px;
    .copyright {
      font-size: 13px;
      color: #6e7684;
    }
    .terms-links {
      position: absolute;
      right: 0;
      top: 10px;
      font-size: 14px;
      color: $primary;
      a {
        padding: 0 10px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }