

$primary: #353c4e;
$hot: #F1605F;
$warm: #F38B38;
$cold: #3889f3;
$success: #009688;

$color-light: #B5BDCA;
$color-base: #26272d;
$font-size-base: .9rem !default;


$border-radius: 2px !default;

$gap-base: 1rem;
$gap-lg: 1.5rem;
$gap-sm: .5rem;


$border-color:  rgba(0, 0, 0, 0.1);
$border-base: 1px solid  rgba(0, 0, 0, 0.1);